NEXT_PUBLIC_BASE_URL=https://api.waqi.info
NEXT_PUBLIC_WAQI_TOKEN=7c93152e84f304dc198a13c9851ab5598dfbfa2c
NEXT_PUBLIC_MEERSENS_API_KEY=077f8dd9b18131fcd7859330e4746be
NEXT_PUBLIC_MONGODB_URI=mongodb://localhost:27017/test
THINGSPEAK_CHANNEL_ID=3387137
THINGSPEAK_READ_KEY=OQSYZW2SC249AUZI